<%- include("partials/header")%>
<main>
  <div class="card py-3 px-3 my-3"></div>
  <div class="card py-3 px-3 my-3"></div>
  <div class="card py-3 px-3 my-3"></div>
</main>
<%- include("partials/footer")%>